@import "~@/style/variables";

.menu-top {
  .nav-tab-layer {
    width: 380px;
      li {
        position: relative;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0 45px;
        text-align: center;
        font-size: @font-size-lg;
        cursor: pointer;

        &.active {
          &::before {
            content: "";
            width: 32px;
            height: 4px;
            background-color: @global-muted4;
            position: absolute;
            bottom: 0;
          }
        }
      }
  }

  .search-icon {
    width: 30px;
    height: 30px;
    margin: 7px 0 0 306px;
  }

  .search-input-bar {
    ::v-deep .search-input {
      width: 263px;
      height: 36px;

      .el-input__prefix,
      .el-input__suffix {
        top: 5.5px;
      }

      .el-input__inner {
        border-radius: 18px;
        height: 36px;
        border: none;
        padding-left: 35px;
        background-color: @gray-bg-color;
      }

      .svg-icon {
        margin: 5px 0 0;
      }
    }
  }

  .right-menu-list {
    display: inline-block;
    width: 86px;
    margin: 4px 0 0;

    .notice {
      width: 16px;
      display: inline-block;
      margin-top: 5px;

      ::v-deep .el-badge__content {
        top: -10px;
        right: 4px;
      }

      img {
        float: left;
      }
    }

    .user-link {
      .user-avatar {
        height: 48px;
      }
    }

    .el-icon-arrow-down {
      font-size: @font-size-xs;
    }

    span {
      margin: 0 20px;
      color: #ccc;
    }

    .el-avatar {
      width: 28px;
      height: 28px;
      margin-right: 0px;
    }

    .el-divider--vertical {
      margin: 0px;
    }
  }

  .font-class {
    width: 63px;
    height: 20px;
    font-size: @font-size-sm;
    color: @global-default3;
  }
}


.info-dropdown[x-placement^="bottom"] {
  width: 240px;
  padding: 0;
  margin: 0;

  .user-info {
    padding: 16px;
    margin: 0;

    &:hover {
      background: none;
    }

    .head-pic {
      width: 40px;
      height: 40px;
    }

    .info-box {
      width: 160px;
      font-size: @global-font-size;
      margin: 5px 0 0;

      .info {
        height: 20px;
        color: @global-default3;
        line-height: 20px;

        .nick-name {
          width: 96px;
          padding-right: 15px;
          display: inline-block;
        }
      }

      .progress {
        margin-top: 10px;
      }
    }
  }

  .my-list {
    border-top: 1px solid #ebeef5;
  }

  .logout {
    margin: 0;
    color: @global-muted;
    height: 48px;
    line-height: 48px;

    &:before {
      display: none;
    }
  }
}
